altgraph==0.17.4
cffi==2.0.0
cryptography==46.0.3
keyboard==0.13.5
packaging==25.0
pefile==2023.2.7
playsound==1.2.2
pycparser==2.23
pydub==0.25.1
pygame==2.6.1
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
pywin32-ctypes==0.2.3
setuptools==80.9.0